@use '/src/styles/variables/colors' as *;
.sidebar {
  background-color: $sidebar-color;

  .sidebar_nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
