@use '/src/styles/styles_all' as *;

.sidebar-btn {
  width: 100%;
  @include d-flex($flexdir: row, $jc: flex-start, $alit: center);

  cursor: pointer;
  transition: background 0.3s ease;
  &:hover {
    background-color: $button-hover;
  }
}
