// Layout
$navigation-color: #fcfaf8;
$main-section: #ffffff;

// Buttons
$button-bg-color: #fcfaf8;
$button-hover: #f1f1f1;
$button-active: #ffefe5;
$button-close: #eda59e;

// ICONS
$icon-color-default: #acaaa9;
$icon-color-active: #dc4c3e;

$icon-check-default: #9a9a9a;
$icon-check-active: #336ed8;

// Priority Colors
$priority-level-1: #d1453b;
$priority-level-2: #eb8909;
$priority-level-3: #246fe0;
$priority-level-4: #f3f3f3;

// Fonts
$font-color-default: #383838;
$font-color-grey: #cac9c8;
$font-color-mid-grey: #9a9a9a;
$font-color-dark-grey: #5e5e5e;
$font-color-highlight: #dc4c3e;
