@use '/src/styles/colors' as *;
// #region Layout Mixins
@mixin d-flex(
  $jc: center,
  $alit: center,
  $flexdir: column,
  $gap: 0,
  $rgap: 0,
  $cgap: 0
) {
  display: flex;
  flex-direction: $flexdir;
  justify-content: $jc;
  align-items: $alit;
  gap: $gap;
  row-gap: $rgap;
  column-gap: $cgap;
}
// #endregion Layout Mixins

// #region Btns

@mixin nav-btn {
  max-width: 20rem;
  width: 100%;
  @include d-flex($flexdir: row, $jc: center, $alit: center);
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  background-color: $button-bg-color;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: $button-hover;
    color: $font-color-default;
  }
  &:active {
    background-color: $button-active;
  }
}

@mixin add-task-btn {
  @include d-flex($flexdir: row, $jc: center, $alit: center);
  gap: 1rem;
  color: $icon-color-active;
  background-color: $button-bg-color;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  &:hover {
    color: $icon-color-active;
  }
}
// #endregion Btns
