@use '/src/styles/styles_all' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: $font-color-default;
  letter-spacing: 0.1rem;
}

// #region Global Styles

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

p,
span {
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

.icon {
  width: 3rem;
  height: 3rem;
  color: $icon-check-default;
}

.btn {
  @include nav-btn();
}

.add-task-btn {
  @include add-task-btn();
  font-weight: 600;
  .icon {
    color: $icon-color-active;
  }
}

// #endregion Global Styles

// #region Modal Views
#modal-container {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);

  &:not(.hidden) {
    @include d-flex($flexdir: column, $jc: center, $alit: center);
  }
}

.add-task-modal-content {
  @include d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
  width: auto;
  height: auto;
  border-radius: 0.25rem;
  background-color: $modal-bg-color;
  box-shadow: 0px 14px 23px 3px #b4b4b4;

  .add-task-modal-input-bar {
    padding: 1rem 1.5rem;
    @include d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
    gap: 2rem;
  }

  .add-task-modal-settings-bar {
    width: 100%;
    padding: 1rem 1.5rem;
    @include d-flex($flexdir: row, $jc: flex-start, $alit: center);
    gap: 1rem;

    button {
      width: auto;
      padding: 1rem;
      background-color: white;
      border: 0.1rem solid $button-hover;
      border-radius: 0.25rem;
      color: $font-color-dark-grey;
    }

    .priority-dropdown {
      position: relative; // Wichtig für die Positionierung des Menüs
      display: inline-block;

      .prio-menu {
        position: absolute;
        top: 100%; // Erscheint direkt unter dem Button
        left: -10%;
        background: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        min-width: 15rem;

        &.show {
          display: block; // Wird per JS aktiviert
        }

        li {
          padding: 10px 15px;
          font-size: 1.8rem;
          cursor: pointer;
          &:hover {
            background: $button-hover;
          }

          // Farben für die Flaggen
          .red {
            color: red;
          }
          .orange {
            color: orange;
          }
          .blue {
            color: blue;
          }
          .grey {
            color: grey;
          }
        }
      }
    }
  }

  .add-task-modal-action-bar {
    width: 100%;
    @include d-flex($flexdir: row, $jc: space-around, $alit: center);
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-top: 0.1rem solid $button-hover;

    button {
      background-color: $button-bg-color;

      &:nth-of-type(1) {
        &:hover {
          background-color: $button-hover;
        }
      }

      &:nth-of-type(2) {
        background-color: $button-close;
        color: whitesmoke;

        .icon {
          color: whitesmoke;
        }
      }
    }
  }

  input {
    font-size: 2.8rem;
    &:nth-of-type(2) {
      font-size: 1.8rem;
    }
  }
}
// #endregion Modal Views

// #region TODAY-VIEW

.add-task-container-today {
  width: 35rem;
  border: 0.1rem solid black;
  @include d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
  gap: 2rem;
}

.tasks-lists {
  @include d-flex($flexdir: row, $jc: space-around, $alit: flex-start);

  .unassignedTasks-list-today,
  .project-tasks-list-today {
    @include d-flex($flexdir: column, $jc: flex-start, $alit: center);
    gap: 2rem;

    .tasks-list-title {
      @include d-flex($flexdir: row, $jc: flex-start, $alit: center);
      gap: 2rem;
    }
    .tasks-list-open-tasks {
      @include d-flex($flexdir: row, $jc: flex-start, $alit: center);
      gap: 0.5rem;
    }
  }

  .project-card-today {
    @include d-flex($flexdir: column, $jc: flex-start, $alit: flex-start);
    gap: 1rem;

    cursor: pointer;
  }

  .task-card-today {
    width: 30rem;
    height: 15rem;
    border: 0.1rem solid #c5c5c5;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 1px 8px 1px rgba(131, 131, 131, 0.1);
    @include d-flex($flexdir: column, $jc: space-between, $alit: flex-start);
    gap: 1rem;

    .task-card-today-desc {
      color: $font-color-dark-grey;
    }
    .task-card-today-head {
      width: 100%;
      @include d-flex($flexdir: row, $jc: flex-start, $alit: center);
      gap: 1rem;

      .toggle-task-today-btn {
        @include d-flex($flexdir: row, $jc: center, $alit: center);
        background-color: rgb(255, 255, 255);

        cursor: pointer;

        .icon {
          color: $icon-check-active;
        }

        &:hover {
          .toggle-icon-default {
            display: none;
          }
          .toggle-icon-complete {
            display: block;
            color: $icon-check-active;
          }
        }
      }
    }
    .task-card-today-bottom {
      width: 100%;
      @include d-flex($flexdir: row, $jc: space-between, $alit: center);

      .task-card-today-date {
        @include d-flex($flexdir: row, $jc: flex-start, $alit: center);
        gap: 0.5rem;
        color: $icon-color-active;
        .icon {
          color: $icon-color-active;
        }
      }
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
}
// #endregion TODAY-VIEW

header {
  background-color: $navigation-color;

  @include d-flex($flexdir: column, $jc: center, $alit: center);
  gap: 1rem;
  padding: 1rem 1.5rem;

  nav {
    width: 100%;
    @include d-flex($flexdir: row, $jc: space-around, $alit: center);
  }
}
